<div class="container-fluid vh-100 d-flex">
    <div class="row w-100 my-auto">
        <div class="col-md-6 d-flex align-items-center justisfy-content-center flex-column bg-violet">
            <br>
            <br>
            <div class="image-container mb-3">
            <img src="assets/welcome.jpg" class="fixed-width img-fluid" >
            </div>
            <div class="image-container">
            <img src="assets/cine.jpg" class="fixed-width img-fluid">
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center justisfy-content-center">
            <div class="card p-4 d-flex flex-column justisfy-content-between align-items-center" style="width:100%; max-width:400px; height: 95vh;">
                <div class="card-body" style="flex: 1;">
                    <div>
                    <h5 class="card-title text-center bg-violet p-2">User Signup</h5>
                    <form [formGroup]="signupForm">
                        <div class="lbl">
                            <label class="label" for="loginId">User Id</label>
                            <input class="form-control" placeholder="User Name" formControlName="loginId" type="text" id="loginId"> 
                            <div *ngIf="isFieldInvalid('loginId')">
                            <small  *ngIf="signupForm.get('loginId').errors.required"  class="text-danger">*Username is required</small>
                            </div> 
                        </div>
                        
                        <div class="lbl">
                            <label class="label" for="emailId">Email Id</label>
                            <input class="form-control" placeholder="Password" formControlName="emailId" type="text" id="emailId"> 
                        </div>
                        <div class="lbl">
                            <label class="label" for="password">Password</label>
                            <input class="form-control" placeholder="User Name" formControlName="password" type="text" id="password"> 
                            <small  *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')"  class="text-danger">*Username is required</small> 
                        </div>
                        
                        <div class="button">
                            <button (click)="OnReset()" class="btn btn-primary" type="button" style="float: right;">Reset</button>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div>
                            <span>Remember Password? </span>
                            <button (click)="OnLogin()" class="btn btn-primary" type="button">Login</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>




